*{
}

.img1{
    border: 1px solid red;

}


body{
    width: 100%;
}

.flexbox-D{
    margin-left: 600px;
    margin-top: 80px;
}

.flexbox-D h2{
    font-size: 40px;
}


.flexbox-D1 p{
    width: 50%;
    margin-top: 10px;
    color: #888888;
} 

.flexbox-D1 h2{
    margin-top: 30px;
}

.flexbox-D1  button{
    margin-top: 25px;
    background-color: #86F3B8;
    padding: 10px 50px;
    border-radius: 20px;
}

.flexbox-D2 {
    display: flex;
    margin-top: 70px;
    margin-bottom: 50px;
}

.flexbox-D2  p{
    width: 40%;
    color: #888888;
}

.flexbox-D3{
    margin-left: -300px;
}


.par-D{
    width: 60%;
    border: 1px solid ;
    margin-left: -400px;
    padding: 20px 30px 20px 400px;
    border-radius: 30px;
    background-color: #86F3B8;
    color: gray;
    margin-top: 25px;
}

.par-D p{
    width: 100%;
}

.par-D img{
    float: left;
    width: 8%;
    border-radius: 80px;
    margin-top: -10px;
}

.par-D h5{
    margin-left: 50px;
}

.Profile-B img{
    width: 9%;
}


.flexbox-A{
    margin-left: 300px;
    margin-top: 120px;
}

.flexbox-A1 h2{
    font-size: 40px;
    width: 100%;
}

.flexbox-A1 p{
    width: 45%;
    line-height: 1.3em;
    margin-top: 10px;
    color: #888888;
}

.flexbox-A1 button{
    margin-top: 25px;
    background-color: #FFC79A;
    padding: 10px 50px;
    border-radius: 20px;
}

.flexbox-B{
    display: flex;
    margin-top: 70px;
    margin-bottom: 50px;
}

.flexbox-B p{
    width: 45%;
    color: #888888;
}

.flexbox-C{
    margin-left: -300px;
}

.par-C{
    width: 40%;
    border: 1px solid ;
    margin-left: -70px;
    padding: 20px 300px 20px 70px;
    border-radius: 30px;
    background-color: #FFC79A;
    font-size: small;
    color: gray;
    line-height: 1.5em;
    margin-top: 25px;
}



.par-C img{
    width: 8%;
    border-radius: 80px;
    margin-top: 5px;
}

.par-C h5{
    margin-left: 40px;
    margin-top: -27px;
}








.flexbox-E{
    margin-left: 300px;
    margin-top: 80px;
}

.flexbox-E1 h2{
    font-size: 40px;
}

.flexbox-E1 p{
    width: 45%;
    line-height: 1.3em;
    margin-top: 10px;
    color: #888888;
}

.flexbox-E1 button{
    margin-top: 25px;
    background-color: #4A6EFC;
    padding: 10px 50px;
    border-radius: 20px;
    color: white;
}

.flexbox-E2{
    display: flex;
    margin-top: 70px;
    margin-bottom: 50px;
}

.flexbox-E2 p{
    width: 30%;
    color: #888888;
}

.flexbox-E3{
    margin-left: -450px;
}

.par-E{
    width: 40%;
    border: 1px solid ;
    margin-left: -70px;
    padding: 20px 400px 20px 70px;
    border-radius: 30px;
    background-color: #4A6EFC;
    font-size: small;
    color: white;
    line-height: 1.5em;
    margin-top: 25px;
}



.par-E img{
    float: left;
    width: 9%;
    border-radius: 80px;
    margin-top: -9px;
}

.par-E h5{
    margin-left: 50px;
    margin-top: 20x;
}

.yy{
    margin-top: 10px;
}


body{
    width: 100%;
    /* border: 3px solid red; */
}

header{
    width: 95%;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

h1{
    margin-top: 60px;
    /* border: 3px solid red; */
}


.container{
    margin: 0 auto;
}


.contain-header{
    display: flex;
    gap: 60px;
    font-size: small;
    margin-left: 40px;
    /* margin-top: 30px; */
}

.contain-header h2{
    margin-bottom: 10px;
    /* margin-top: 10px; */
}

.contain-A{
    margin-top: -15px;
}

.contain-B{
    display: flex;
    gap: 20px;
    color: #414040;
    font-size: small;
    margin-top: 5px;
}

.contain-C{
    display: flex;
    gap: 20px;
    color: #414040;
    font-size: small;
}

h1{
    text-align: center;
    font-size: 50px;

}

.par-A{
    text-align: center;
    width: 40%;
    margin: auto;
    line-height: 1.5em;
    margin-top: 20px;
    color: #9A9A9A;
}

.button1{
    background-color: #06A768;
    color: white;
    padding: 15px 45px;
    border-radius: 15px;
    margin: 0 auto;
    display: block;
    margin-top: 20px;
}


.par-B{
    text-align: center;
    margin-top: 20px;
    color: #9A9A9A;
}

.img1{
    width: 30%;
    max-width: 30px;
}

.flex1{
    display: flex;
    gap: 70px;
    justify-content: center;
    width: 60%;
    margin-left: 300px;
    margin-top: 30px;
}

.flex2{
    line-height: 1.4em;
}

.flex2A{
    font-size: 16px;
    color: #434343;
}

.flex2B{
    font-size: 12px;
    color:#9A9A9A ;
}

.flex3{
    line-height: 1.4em;
}

.flex3A{
    font-size: 12px;
    color: #434343;
    margin-left: 30px;
}

.flex3B{
    font-size: 12px;
    color: #9A9A9A;
}

.flex4{
    line-height: 1.4em;
}

.flex4A{
    font-size: 12px;
    color: #434343;
    margin-left: 30px;
}

.flex4B{
    font-size: 12px;
    color: #9A9A9A;
}

.flex5{
    line-height: 1.4em;
    /* margin-top:20px; */
}

.flex5A{
    font-size: 16px;
    color: #434343;
}

.flex5B{
    font-size: 12px;
    color: #9A9A9A;
}
.icon0{
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon{
    display: flex;
}
.icon1{
    width: 5%;
}
.icon2{
    width: 5%;
}
.icon3{
    width: 5%;
}
.icon4{
    width: 5%;
}
.icon5{
    width: 50%;
}


.flexbox-F{
    display: flex;
    border: 1px solid black;
    padding: 30px 80px;
    width: 58%;
    margin-left: 110px;
    border-radius: 50px;
    margin-top: 100px;
    margin: auto;
    margin-top: 110px;
}

.flexbox-F1 p{
    width: 80%;
    line-height: 1.3em;
    margin-top: 9px;
    color: #9A9A9A;
}

.flexbox-F1 h3{
    font-size: 30px;
    width: 50%;
}

.flexbox-F2{
    display: flex;
    gap: 60px;
}

.flexbox-F2 h2{
    width: 50%;
    font-size: 80px;
}

.flexbox-F h5{
    font-size: smaller;
    color: #9A9A9A;
    margin-top: -60px;
}

.flexbox5{
    display: flex;
    margin-top: 50px;
    margin-left: 100px;
    width: 90%;
    margin: auto;
    margin-top: 30px;

}

.flexbox5a{
    border: 1px solid black;
    margin: 30px 20px;
    border-radius: 20px;
    padding: 20px 20px;
    width: 20%;
    margin-left: 130px;
}
.flexbox5a img{
    width: 8%;
    border: 1px solid black;
    padding: 10px 10px;
    background-color: #F9E054;
    border-radius: 10px;
}

.flexbox5a h4{
    margin-top: 95px;
    color: #1E1E1E;
}

.flexbox5a h3{
    color: #1E1E1E;
    margin-top: 20px;
}

.flexbox5a p{
    color: #777777;
    margin-top: 20px;
}

.flexbox5b{
    border: 1px solid black;
    margin: 30px 20px;
    border-radius: 20px;
    padding: 20px 20px;
    width: 20%;
    /* margin-left: 40px; */
}

.flexbox5b img{
    width: 8%;
    border: 1px solid black;
    padding: 10px 10px;
    background-color: #F9E054;
    border-radius: 10px;
}

.flexbox5b h3{
    color: #1E1E1E;
    margin-top: 20px;
}

.flexbox5b p{
    color: #777777;
    margin-top: 20px;
}

.flexbox5b h4{
    margin-top: 60px;
    color: #1E1E1E;
}

.flexbox5c{
    border: 1px solid black;
    margin: 30px 20px;
    border-radius: 20px;
    padding: 20px 20px;
    width: 20%;
}

.flexbox5c img{
    width: 8%;
    border: 1px solid black;
    padding: 10px 10px;
    background-color: #F9E054;
    border-radius: 10px;
}

.flexbox5c h3{
    color: #1E1E1E;
    margin-top: 20px;
}

.flexbox5c h4{
    margin-top: 80px;
    color: #1E1E1E;
}

.flexbox5c p{
    color: #777777;
    margin-top: 20px;
}


.flexbox6{
    display: flex;
    border: 1px solid black;
    margin: auto;
    width: 66%;
    padding: 20px 30px;
    border-radius: 30px;
    margin-top: 20PX;
}

.flexbox6 h2{
    width: 60%;
    font-size: 30px;
    margin-left: 40px;
}

.flexbox6{
    display: flex;
    border: 1px solid black;
    width: 66%;
    margin-left: 190px;
    border-radius: 40px;
    margin-bottom: 50px;
    padding-bottom:30px;
    margin-top: 30px;

}

.f{
    width: 100%;
    display: flex;
}

.flexbox6 h2{
    width: 50%;
    margin-left: 80px;
    font-size: 40px;
    color: #3a3838;
    margin-top: 29px;
}

.flexbox6a button{
    background-color: #F9E054;
    margin-top: 25px;
    padding: 14px 70px;
    border-radius: 11px;
}

.flexbox6a{
    /* margin-left: 90px; */
    margin-left:-290px ;
    margin-top: 20px;
}

.f p{
    margin-left: 70px;
    font-size: smaller;
    color: #888888;
}



footer{
    background-color: black;
}

.p{
    /* margin-top: 10px; */
    color: white;
    margin-top: 39px;
}


.p h4{
    font-size: 12px;
    margin-top: -30px;
    margin-left: 2px;
}

.p h3{
    font-size: 25px;
}

.w{
    display: flex;
    gap: 40px;
    margin-left: 100px;
}

.t{
    display: flex;
    gap: 60px;
    line-height: 0.1em;
    margin-left: 60px;
}

.t h3{
    color: rgb(163, 161, 161);
    margin-bottom: 10px;
    font-size: smaller;
    margin-bottom: 40px;
    margin-top: 60px;
}

.t h5{
    color: rgb(212, 209, 209);
}

.t1{
    margin-top: -10px;
}

.t2{
    margin-top: 71px;
}

.t3{
    margin-top: 71px;
}
.t4{
    margin-left: -250px;
}

.ic img{
    width:10%;
    border: px solid black;
    /* padding: 1px 1px; */
    background-color: white;
    border-radius: 10px;
}

hr{
    color: white;
}



