*{
    border: 1px solid red;
}
body{
    width: 100%;
    /* border: 3px solid red; */
}

header{
    width: 95%;
    display: flex;
    justify-content: space-between;
    /* border: 3px solid red; */
}

h1{
    margin-top: 60px;
    /* border: 3px solid red; */
}


.container{
    /* margin: 0 auto; */
}


.contain1{
    display: flex;
    gap: 60px;
    font-size: small;
}

.contain1 h2{
    margin-bottom: 10px;
    margin-top: 10px;
}

.contain2{
    margin-top: -15px;
}

.contain3{
    display: flex;
    gap: 20px;
    color: #414040;
    font-size: small;
}

.contain4{
    display: flex;
    gap: 20px;
    color: #414040;
    font-size: small;
}



h1{
    text-align: center;
    font-size: 50px;

}

.par1{
    text-align: center;
    width: 40%;
    margin: auto;
    line-height: 1.5em;
    margin-top: -20px
}

.button1{
    background-color: #06A768;
    color: white;
    padding: 15px 45px;
    border-radius: 15px;
    margin: 0 auto;
    display: block;
    margin-top: 20px;
}

.par2{
    text-align: center;
    margin-top: -10px;
}

.img1{
    width: 30%;
    max-width: 30px;
}

.flex1{
    display: flex;
    gap: 70px;
    justify-content: center;
    width: 60%;
    margin-left: 300px;
}

.flex2{
    line-height: 1.4em;
}

.flex2A{
    font-size: 16px;
    color: #434343;
}

.flex2B{
    font-size: 12px;
    color:#9A9A9A ;
}

.flex3{
    line-height: 1.4em;
}

.flex3A{
    font-size: 12px;
    color: #434343;
    margin-left: 30px;
}

.flex3B{
    font-size: 12px;
    color: #9A9A9A;
}

.flex4{
    line-height: 1.4em;
}

.flex4A{
    font-size: 12px;
    color: #434343;
    margin-left: 30px;
}

.flex4B{
    font-size: 12px;
    color: #9A9A9A;
}

.flex5{
    line-height: 1.4em;
}

.flex5A{
    font-size: 16px;
    color: #434343;
}

.flex5B{
    font-size: 12px;
    color: #9A9A9A;
}
.icon0{
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon{
    display: flex;
}
.icon1{
    width: 5%;
}
.icon2{
    width: 5%;
}
.icon3{
    width: 5%;
}
.icon4{
    width: 5%;
}
.icon5{
    width: 50%;
}
.d{
    width: 10%;
}

.b{
    /* margin-left: 200px; */
    width: 100%;
}

.flexbox1{
    /* margin: 0 auto; */
    width: 70%;
    font-size: 27px;
    margin-top: 100px;
    color: #111111;
}

.par3{
    /* margin: 0 auto; */
    width: 38%;
    margin-top: -20px;
    /* margin-left: 190px; */
    color: #9A9A9A;
    line-height: 1.2em;
}

.button2{
    margin: 0 auto;
    background-color: #FFC79A;
    padding: 10px 50px;
    border-radius: 20px;
    /* margin-left: 187px; */
    margin-top: 5px;
}

.flexbox2{
    display: flex;
    /* margin: 0 auto; */
    width: 40%;
    /* margin-left: 180px; */
    margin-top: 40px;
}

.flexbox2 p{
    width: 80%;
    color: #9A9A9A;
    font-size: smaller;
    margin-top: -10px;
    line-height: 1.3em;
}

.par4{
    width: 30%;
    border: 1px solid ;
    margin-left: -50px;
    padding: 20px 300px 20px 50px;
    border-radius: 30px;
    background-color: #FFC79A;
    font-size: small;
    color: #92613A;
    line-height: 1.5em;
    margin-top: 25px;
}

.par4 img{
    float: left;
    width: 10%;
    border-radius: 50px;
    margin-top: -10px;
}
.par4 h5{
    margin-left: 40px;
}

.c{
    /* width: 100%; */
    border: 3px solid red;
}

.par5{
    width: 40%;
    border: 1px solid ;
    /* margin-left: -300px; */
    /* padding: 20px 30px 20px 300px; */
    border-radius: 30px;
    background-color: #86F3B8;
    font-size: small;
    color: gray;
    line-height: 1.5em;
    margin-top: 25px;
    
}

.par5 img{
    float: left;
    width: 8%;
    border-radius: 80px;
    margin-top: -10px;
}

.par5 h5{
    margin-left: 50px;
}

.xx{
    margin-right: 100px;
}

.par5 p{
    margin-left: 00px;
}

.flexbox3 p{
    width: 80%;
    color: #9A9A9A;
    font-size: smaller;
    margin-top: -10px;
    line-height: 1.3em;
}

.flexbox3{
    display: flex;
    /* margin: 0 auto; */
    width: 40%;
    /* margin-left: 180px; */
    margin-top: 40px;
}

.button3{
    margin: 0 auto;
    background-color: #86F3B8;
    padding: 10px 50px;
    border-radius: 20px;
    /* margin-left: 187px; */
    margin-top: 5px;
}

.par6{
    background-color: #4A6EFC;
    width: 40%;
    border: 1px solid ;
    margin-left: -50px;
    padding: 20px 300px 20px 50px;
    border-radius: 30px;
    font-size: small;
    line-height: 1.5em;
    margin-top: 25px;
    color: white;
}

.par6 img{
    float: left;
    width: 10%;
    border-radius: 50px;
    margin-top: -10px;
}
.par6 h5{
    margin-left: 60px;
}

.button4{
    /* margin: 0 auto; */
    background-color: #4A6EFC;
    padding: 10px 50px;
    border-radius: 20px;
    margin-top: 5px;
    color: white;
}


.flexbox4{
    display: flex;
    border: 1px solid black;
    padding: 20px 80px;
    width: 60%;
    margin-left: 160px;
    border-radius: 50px;
    margin-top: 100px;
}

.flex6 p{
    width: 80%;
    line-height: 1.3em;
    margin-top: -9px;
    color: #9A9A9A;
}

.flex6 h3{
    font-size: 30px;
    width: 50%;
}

.flex7{
    display: flex;
    gap: 60px;
}

.flex7 h2{
    width: 50%;
    font-size: 80px;
}

.flex7 h5{
    font-size: smaller;
    color: #9A9A9A;
    margin-top: -60px;
}


.flexbox5{
    display: flex;
    margin-top: 50px;
    /* margin-left: 150px; */
    width: 95%;
}

.flexbox5a{
    border: 1px solid black;
    margin: 30px 20px;
    border-radius: 20px;
    padding: 20px 20px;
    width: 20%;
}
.flexbox5a img{
    width: 8%;
    border: 1px solid black;
    padding: 10px 10px;
    background-color: #F9E054;
    border-radius: 10px;
}

.flexbox5a h4{
    margin-top: 80px;
    color: #1E1E1E;
}

.flexbox5a h3{
    color: #1E1E1E;
}

.flexbox5a p{
    color: #777777;
}

.flexbox5b{
    border: 1px solid black;
    margin: 30px 20px;
    border-radius: 20px;
    padding: 20px 20px;
    width: 20%;
}

.flexbox5b img{
    width: 8%;
    border: 1px solid black;
    padding: 10px 10px;
    background-color: #F9E054;
    border-radius: 10px;
}

.flexbox5b h3{
    color: #1E1E1E;
}

.flexbox5b p{
    color: #777777;
}

.flexbox5b h4{
    margin-top: 60px;
    color: #1E1E1E;
}

.flexbox5c{
    border: 1px solid black;
    margin: 30px 20px;
    border-radius: 20px;
    padding: 20px 20px;
    width: 20%;
}

.flexbox5c img{
    width: 8%;
    border: 1px solid black;
    padding: 10px 10px;
    background-color: #F9E054;
    border-radius: 10px;
}

.flexbox5c h3{
    color: #1E1E1E;
}

.flexbox5c h4{
    margin-top: 80px;
    color: #1E1E1E;
}

.flexbox5c p{
    color: #777777;
}