body{
    width: 95%;
}

header{
    width: 95%;
    display: flex;
    justify-content: space-between;
}

.container{
    margin: 0 auto;
}


.contain1{
    display: flex;
    gap: 50px;
}

.contain1 h2{
    margin-top: px;
}

.contain2{
    margin-top: -29px;
    

}

.contain3{
    display: flex;
    gap: 20px;
    color: #414040;
    font-size: small;
}

.contain4{
    display: flex;
    gap: 20px;
    color: #414040;
    font-size: small;
}


/* .button2{
    background-color: black;
    border: 0.1px solid black;
    color: white;
    font-size: small;
    padding: -30px -20px;
} */

h1{
    text-align: center;
    font-size: 50px;

}

.par1{
    text-align: center;
    width: 40%;
    margin: auto;
    line-height: 1.5em;
}

.button1{
    background-color: #06A768;
    color: white;
    padding: 15px 45px;
    border-radius: 15px;
    margin: 0 auto;
    display: block;
    margin-top: 30px;
}

.par2{
    text-align: center;
    margin-top: -10px;
}